@mixin _error($color, $bordered) {
  .validation_error {
    margin-bottom: 2rem;
    padding: 0.5rem 1.5rem;

    @if $bordered {
      border: 1px solid $color;
      color: $color;
    } @else {
      background: $color;
      color: $white;
    }
  }

  .gfield_error {
    label {
      color: $color;
    }

    li label {
      color: inherit;
    }

    input,
    select,
    textarea {
      border-color: $color;
    }
  }

  .validation_message {
    display: none;
  }
}
