@mixin gfs-main($breakpoint, $field-width, $label-width) {
  .gform_body {
    float: left;
    margin-bottom: 1rem;
  }

  /**
   * Main list styles
   */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-bottom: 1rem;
    width: 100%;

    // Checkboxes / radio buttons
    li {
      margin-bottom: 0;

      label {
        display: inline;
        float: none;
        margin-bottom: 0;
      }
    }
  }

  /**
   * Label & container
   */
  .gfield_label {
    display: block;
    margin-bottom: 5px;

    @media(min-width: $breakpoint) {
      float: left;
      margin-bottom: 0;
      padding-right: 20px;
      width: $label-width;
    }
  }

  .ginput_container {
    @media(min-width: $breakpoint) {
      float: left;
      width: $field-width;
    }

    > input,
    > textarea,
    > select {
      width: 100%;
    }
  }

  /**
   * Field descriptions / validation messages
   */
  .gfield_description {
    @media(min-width: $breakpoint) {
      float: left;
      margin-left: $label-width;
      width: $field-width;
    }
  }

  // Hide explicit validation messages after form comes back from submission attempt
  .validation_message {
    display: none;
  }

  // Don't hide realtime validation messages
  .ginput_container .validation_message {
    display: block;
  }

  .gfield_description,
  .validation_message li {
    font-size: 80%;
    font-style: italic;
    margin-top: 0.25rem;
  }

  /**
   * Sections and titles
   */
  .gform_description,
  .gfield_html {
    display: block;
    margin-bottom: 2rem;
  }

  .gsection {
    margin: 1rem 0 2rem;
  }

  .gsection_title {
    margin-bottom: 0;
  }

  /**
   * Input types
   */
  .ginput_container_checkbox,
  .ginput_container_radio {
    @media(min-width: $breakpoint) {
      float: left;
      width: $field-width;
    }
  }

  [type="checkbox"],
  [type="radio"] {
    margin-right: 10px;
  }

  /**
   * Buttons
   */
  .gform_button {
    margin: 0 20px 0 0;

    @media(min-width: $breakpoint) {
      margin-left: $label-width;
    }
  }
}
