@mixin gravity-forms-errors($color) {
  .validation_error {
    background: $color;
    margin-bottom: 2rem;
    padding: .5rem 1.5rem;
    color: white;
  }

  .gfield_error {
    label {
      color: $color;
    }

    li label {
      color: inherit;
    }

    input,
    select,
    textarea {
      border-color: $color;
    }
  }

  .validation_message {
    display: none;
  }
}
