@mixin gravity-forms-styling($args: ()) {
  $settings: map-merge((
    'datepicker': false,
    'datepicker-border-color': #ddd,
    'datepicker-primary-color': #337ab7,
    'error-color': #ce4844,
    'field-width': 70%,
    'horizontal-layout': 641px,
    'label-width': 30%,
  ), $args);

  @mixin horizontal-from-breakpoint() {
    @media(min-width: map-get($settings, 'horizontal-layout')) {
      margin-left: map-get($settings, 'label-width');
      width: map-get($settings, 'field-width');
    }
  }

  $margin: 1rem;
  $white: #fff;

  /**
   * 1. Base
   */
  .gform_wrapper {
    .gform_body {
      float: left;
      margin-bottom: $margin;
    }

    // List styles
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      margin-bottom: $margin;
      width: 100%;

      li {
        margin-bottom: 0;

        label {
          display: inline;
          float: none;
          margin-bottom: 0;
        }
      }
    }

    // Field descriptions
    .gfield_description {
      @include horizontal-from-breakpoint();
      font-size: 80%;
      font-style: italic;
      margin-top: ($margin / 4);
    }

    // Sections and titles
    .gform_description,
    .gfield_html {
      display: block;
      margin-bottom: ($margin * 2);
    }

    .gsection {
      margin: $margin 0 ($margin * 2);
    }

    .gsection_title {
      margin-bottom: 0;
    }

    // Input types
    .ginput_container_checkbox,
    .ginput_container_radio {
      @include horizontal-from-breakpoint();
    }

    [type="checkbox"],
    [type="radio"] {
      margin-right: 10px;
    }

    /**
     * 2. Errors
     */
    $color: map-get($settings, 'error-color');

    .validation_error {
      background: $color;
      color: $white;
      margin-bottom: 2rem;
      padding: 0.5rem 1.5rem;
    }

    .gfield_error {
      label {
        color: $color;
      }

      li label {
        color: inherit;
      }

      input,
      select,
      textarea {
        border-color: $color;
      }
    }

    .validation_message {
      display: none;
    }
  }

  /**
   * 3. Datepicker
   */
  @if map-get($settings, 'datepicker') {
    $shadow: rgba(0, 0, 0, 0.2);

    .ui-datepicker {
      background: $white;
      border: 1px solid map-get($settings, 'datepicker-border-color');
      box-shadow: 0 0 50px $shadow;
      padding: $margin;

      // Header
      .ui-datepicker-title {
        margin-bottom: $margin;
      }

      .ui-datepicker-prev,
      .ui-datepicker-next {
        display: none;
      }

      select {
        width: 100%;

        &:first-child {
          margin-bottom: 0.5rem;
        }
      }

      // Table
      table {
        font-size: 80%;
        line-height: normal;
        margin-bottom: 0;
      }

      th,
      td {
        padding: 8px;

        @media(min-width: 341px) {
          padding: 10px;
        }
      }

      a,
      a:hover {
        text-decoration: none;
      }

      td {
        cursor: default;
        text-align: center;
      }

      td:not(.ui-datepicker-unselectable) {
        cursor: pointer;

        &.ui-datepicker-current-day,
        &:hover {
          background: map-get($settings, 'datepicker-primary-color');

          a {
            color: $white;
          }
        }
      }
    }
  }
}
